**/.vuepress/dist/**
/.idea/
**/.idea/**
*.iml
*.ipr
*.iws
*.log*
/out/
**/out/**
/build/
**/build/**
/target/
**/target/**
**/node_modules/
.DS_Store

# Project exclude paths
/.gradle/
/buildSrc/.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
