**/.vuepress/dist/**
/.idea/
**/.idea/**
*.iml
*.ipr
*.iws
*.log*
/out/
**/out/**
/build/
**/build/**
/target/
**/target/**
**/node_modules/
.DS_Store

# Project exclude paths
/.gradle/
/buildSrc/.gradle/